@font-face {font-family: "iconfont";
    src: url('./fonts/iconfont.eot'); /* IE9*/
    src: url('./fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/iconfont.woff') format('woff'), /* chrome, firefox */
    url('./fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('./fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
  }

  .iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
 
  .icon-tubiaozhexiantu:before { content: "\e600"; }

  .icon-weibiaoti34:before { content: "\e634"; }
  
  .icon-weibiaoti105:before { content: "\e609"; }
  
  .icon-huangguan:before { content: "\e71c"; }
  
  .icon-jingxuanbiao:before { content: "\e74d"; }
  
  .icon-liebiaoxunhuan:before { content: "\e60a"; }
  
  .icon-fenxiang:before { content: "\e6f4"; }
  
  .icon-guanzhu:before { content: "\e7b5"; }
  
  .icon-suijibofang:before { content: "\e66b"; }
  
  .icon-danquxunhuan:before { content: "\e66d"; }
  
  .icon-pillar:before { content: "\e613"; }
  
  .icon-mianjitu:before { content: "\e618"; }
  
  .icon-zhexiantu:before { content: "\e605"; }
  
  .icon-shipin:before { content: "\e61d"; }
  
  .icon-jia:before { content: "\e794"; }
  
  .icon-shangla:before { content: "\e797"; }
  
  .icon-gengduo:before { content: "\e60e"; }
  
  .icon-gengduo1:before { content: "\e64c"; }
  
  .icon-xinxi:before { content: "\e764"; }
  
  .icon-xiazai:before { content: "\e626"; }
  
  .icon-shanchu:before { content: "\e652"; }
  
  .icon-xiala:before { content: "\e62b"; }
  
  .icon-wode:before { content: "\e625"; }
  
  .icon-xiayiqu:before { content: "\e7ff"; }
  
  .icon-shangyiqu:before { content: "\e800"; }
  
  .icon-bofang:before { content: "\e66e"; }
  
  .icon-icon-test:before { content: "\e66c"; }