
@color:red;
.home1{
    color:@color;
    .home2{
       background:gold;
       height:100px;
    }
}
//主页
.home_xm_bottom{
    width:100%;
    position: absolute;
    height:50px;
    bottom: 0px;
    left:0px;
    background:gray;
}