
//主页
@color:#5e5c5c;
.home_xm{
    float: left;
    width:100%;
}
.home_xm_head{
    position: fixed;
    width:56px;
    left:calc(50% - 28px);
    padding:3px;
    box-sizing: border-box;
    height:50px;
    bottom:14px;
    background: #fff;
    border-radius:50%;
    z-index: 99;
    img{
        width:52px;
        height:52px;
        display:block;
        position: absolute;
        left:calc(50% - 26px);
        border-radius:50%;
    }
}
.home-content{
    width:100%;
    position: absolute;
    height:calc(100% - 50px);
    z-index: 9;
    overflow: auto;
}
//我播放的音乐
.play-content{
    float: left;
    width:100%;
    background:#fff;
    position: absolute;
    height:100%;
    .play-tab-nav{
        float: left;
        width:100%;
        height:42px;
        .play-fh,
        .play-fx{
            width:42px;
            height:42px;
            line-height:42px;
            text-align:center;
            color:@color;
            float: left;
        };
        .play-xx{
            float: left;
            width:calc(100% - 84px);
            height:100%;
            text-align:center;
            color:@color;
            div{
                width:100%;
                float: left;
            };
            div:nth-of-type(1){
                height:20px;
                line-height:20px;
                font-size:14px;
                margin-top:4px;
            };
            div:nth-of-type(2){
                height:18px;
                line-height:18px;
                font-size:12px;
                span{
                    display:inline-block;
                };
                i{
                    display:inline-block;
                }
            };
        }
    }
    .play-cover{
        width:calc(100% - 84px);
        margin:42px;
        float: left;
        img{
            max-width:100%;
        }
    }
    .play-btn{
        width:calc(100% - 24px);
        margin:0 0 0 12px;
        float: left;
        .play-btn-list{
            float: left;
            width:25%;
            text-align:center;
            color:@color; 
            i{
                font-size:20px;
            }
        }
    }
}
//精选
.selected-home{
    width: 100%;
    float: left;
    background:#EFEFF4;
    .selected-title{
        width:calc(100% - 18px);
        float: left;
        margin-left:8px;
        height:45px;
        .selected-tab,.selected-search{
            width:50%;
            float: left;
            height:100%;
        }
        .selected-tab-list{
            width:56px;
            float: left;
            height:100%;
            line-height:38px;
            color: @color;
            text-align:left;
        }
        .selected-tab-list:nth-of-type(2){
            margin-left:4px;
        }
        .tabActive{
            font-size:20px;
            color:#000;
            position: relative;
            transition-duration:100ms;
        }
        .tabActive:before{
            content: '';
            width: 20px;
            height: 4px;
            background: #ff3366;
            position: absolute;
            bottom: 5px;
            left: 10px;
        }
    }
    .selected-content{
        float: left;
        width:100%;
        background:#fff;
    }
    .selected-banner,
    .selected-popular{
        width:calc(100% - 18px);
        float: left;
        margin:8px;
    }
    .selected-popular-list{
        width:20%;
        float: left;
        box-sizing:border-box;
        padding:8px;
        text-align:center;
        .selected-popular-icon{
            width:50px;
            display:inline-block;
            background:rgba(0,0,0,0.8);
            height:50px;
            border-radius:50%;
            line-height:50px;
            color:#fff;
            i{
                font-size:24px;
            }
        }
        span{
            font-size:12px;
            line-height:24px;
            display:inline-block;
        }
    }
}
