//home
.home{
 position: relative;;
 width: 100%;
 float: left;
 background: #fff;
}
.home-logo{
    width:100%;
    float: left;
    margin-top: 6px;
    img{
        width:256px;
        margin-left:calc(50% - 128px);
        float: left;
    }
} 
//index
.comp-con-title{
    width: 100%;
    float: left;
    text-indent: 12px;
    font-size: 14px;
    line-height: 36px;
    background: #f9f9f9;
}
.k-vui-index{
    float:left;
    width: 100%;
    margin-top: 12px;
    .comp-title{
        width: 100%;
        float: left;
        text-indent: 12px;
        font-size: 14px;
        line-height: 52px;
        background: #f9f9f9;
    }
    .comp-list{
        width:calc(100% - 24px);
        margin-left:12px;
        float: left;
        line-height: 42px;
        height:42px;
        border-bottom: solid 1px #efeded;
        font-size: 13px;
        .comp-list-title{
            width: calc(100% - 42px);
            float: left;
        }
        .comp-list-icon{
            width: 42px;
            height: 42px;
            float: left;
            line-height: 42px;
            text-align: center;
        }
    }
}
.demo-box{
    float: left;
    width:100%;
}
//icon
.icon-list{
    float: left;
    width:33.33%;
    float: left;
    height:78px;
    text-align: center;
    i{
        display:block;
        margin:12px 0 3px 0;
    }
    span{
        display: block;
        margin:3px 0 12px 14%;
        font-size:12px;
        width: 72%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
