//home
.home{
 position: absolute;
 width: 100%;
 height: 100%;
 left: 0px;
 top: 0px;
 background: #fff;
}
.home-logo{
    width:100%;
    float: left;
    margin-top: 6px;
    img{
        width:256px;
        margin-left:calc(50% - 128px);
        float: left;
    }
    div{
        float: left;
        text-align: center;
        width: 100%;
        line-height: 56px;
    }
} 
//index
.k-vui-index{
    float:left;
    width: 100%;
    margin-top: 12px;
    .comp-title{
        width: 100%;
        float: left;
        text-indent: 12px;
        font-size: 14px;
        line-height: 52px;
        background: #f9f9f9;
    }
    .comp-list{
        width:calc(100% - 24px);
        margin-left:12px;
        float: left;
        line-height: 42px;
        height:42px;
        border-bottom: solid 1px #efeded;
        font-size: 13px;
        .comp-list-title{
            width: calc(100% - 42px);
            float: left;
        }
        .comp-list-icon{
            width: 42px;
            height: 42px;
            float: left;
            line-height: 42px;
            text-align: center;
        }
    }
}
